.events {
    width: 90%;
    max-width: 60rem;
    margin: var(--size-8) auto;
}

.events h1 {
    font-size: var(--size-8);
    color: var(--color-turquoise-100);
    text-align: center;
}

@media (min-width: 768px) {
    .events h1 {
        font-size: var(--size-16);
    }
}